ansible-compat==4.1.2
ansible-core==2.15.0
ansible-lint==6.17.0
attrs==23.1.0
black==23.3.0
bracex==2.3.post1
cffi==1.15.1
cfgv==3.3.1
click==8.1.3
cryptography==41.0.1
distlib==0.3.6
filelock==3.12.0
identify==2.5.24
importlib-resources==5.0.7
Jinja2==3.1.2
jsonschema==4.17.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
pip==23.1.2
platformdirs==3.5.1
pre-commit==3.3.2
pre-commit-hooks==4.4.0
pycparser==2.21
Pygments==2.15.1
pyrsistent==0.19.3
PyYAML==6.0
resolvelib==1.0.1
rich==13.4.1
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
setuptools==67.8.0
subprocess-tee==0.4.1
tomli==2.0.1
typing_extensions==4.6.3
virtualenv==20.23.0
wcmatch==8.4.1
wheel==0.40.0
yamllint==1.32.0
